// Definición de variables
$background-color: rgb(46, 46, 46);
$text-color: white;
$secondary-color: rgb(143, 143, 143);
$highlight-color: salmon;
$button-bg: #636363;
$button-bg-hover: #313131;
$navbar-padding: 25px;
$nav-link-padding: 29px;

// Mixins
@mixin fadeInAndRotate {
    @keyframes fadeInAndRotate {
        from {
            opacity: 0;
            transform: rotate(5deg);
        }

        to {
            opacity: 1;
            transform: rotate(0deg);
        }
    }

    animation: fadeInAndRotate 2s ease-out forwards;
}

@mixin fadeInDown($duration) {
    @keyframes fadeInDown {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    animation: fadeInDown $duration ease-out forwards;
}

// Estilos básicos
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Navbar
.navbar {
    background-color: $background-color;
    position: relative;
    z-index: 10;

    .navbar-brand {
        padding: $navbar-padding;
    }

    .nav-link {
        color: $text-color !important;
        padding: $nav-link-padding;
    }

    .collapse {
        display: flex;
        justify-content: flex-end;
    }
}

// Sección principal
.section {
    position: relative;
    width: 100%;
    height: 700px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    box-sizing: border-box;

    .small-text {
        font-family: "guyot-sans", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 24px;
        color: $secondary-color;
        position: absolute;
        top: 10%;
        left: 120px;
        width: 50%;
        opacity: 0;
        z-index: 1;
        @include fadeInDown(1s);
    }

    .trabaja {
        font-family: "lulo-one", sans-serif;
        font-weight: 700;
        font-size: 4rem;
        color: rgba($secondary-color, 0.425);
        user-select: none;
        pointer-events: none;
        position: absolute;
        width: 50%;
        top: 50%;
        left: 100px;
        transform: translateY(-50%);
        z-index: 0;
    }

    h1 {
        position: relative;
        font-family: "lulo-one", sans-serif;
        font-weight: 700;
        font-size: 2.5rem;
        text-align: left;
        width: 30%;
        top: 33%;
        left: 100px;
        transform: translateY(-67%);
        padding-left: 25px;
        z-index: 1;

        span {
            white-space: nowrap;
            color: $highlight-color;
        }

        @include fadeInDown(1s);
    }
}

// Contenedor de botones
.button-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 30%;
    margin-top: 15%;

    .call-action {
        padding: 12px 24px;
        font-size: 18px;
        color: $text-color;
        background-color: $button-bg;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;

        &:hover {
            background-color: $button-bg-hover;
        }
    }
}

// Contenedor de imagen
.image-container {
    position: absolute;
    top: 100px;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transform: rotate(0deg);
    z-index: 0;
    @include fadeInAndRotate;

    img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease-out;
    }
}

// Estilos de footer
footer {
    color: #fff;
    background-color: salmon;
    text-align: center;
    font-size: 35px;
    padding-bottom: 30px;

    a {
        font-size: 60px;
        color: #fff;
        text-decoration: none;
        padding: 40px;

        &:hover {
            color: rgb(46, 126, 98);
        }
    }
}

footer{

    padding: 2px;
}

// Media queries para dispositivos móviles y tablets
@include media-query('mobile') {
    // estilos específicos para móviles aquí
}

@include media-query('tablet') {
    // estilos específicos para tablets aquí
}

